/* body {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}

.card {
    max-width: 400px;
    max-height: 200px;
    text-align: center;
    margin: 2rem auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 2rem 1rem;
}

img {
    width: 50%;
    height: auto;
    border-radius: 12px;
}

#team {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    display: grid;
    grid-row: 2/auto;
}

header {
    text-align: center;
    width: 100%;
    background-color: navy;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
} */