@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Noto+Sans+JP:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --primary-color: #B23B3B;
  --secondary-color: #C9A66B;
  --accent1-color: #1B1B1B;
  --accent2-color: #4C7262;

  --heading-font: "kiwi maru", "Playfair Display", "IM Fell French Canon SC", serif;
  --paragraph-font: "Noto Sans JP", "Lato", sans-serif;

  --headline-color-on-white: #B23B3B;
  --headline-color-on-color: #1B1B1B; 
  --paragraph-color-on-white: #4C7262; 
  --paragraph-color-on-color: #1B1B1B; 
  --paragraph-background-color: #c9a66b;
  --nav-link-color: #1B1B1B;
  --nav-background-color: #4C7262;
  --nav-hover-link-color: #4C7262;
  --nav-hover-background-color: #1B1B1B;
}

/* header and nav */

body {
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0 auto;
    margin: 0 auto;
    background-color: var(--nav-background-color);
    display: flex;
    align-items: center;
    z-index: 10000;
    border-style: solid;
}

#logo-link img{
    grid-column: 1/2;
    height: auto;
    width: 60%;
}

#logo-link{
    height: auto;
    /* width: 30%; */
    padding: 0;
    margin: 0.5%;
    grid-column: 1/2;
}

nav a {
    font-size: 2em;
    color: var(--nav-link-color);
    text-align: center;
    background-color: var(--nav-background-color);
    margin: 2rem;
    /* padding: 2rem; */
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

nav a:nth-of-type(1){
    grid-column: 2/3;
}

nav a:nth-of-type(2){
    grid-column: 3/4;
}

nav a:nth-of-type(3){
    grid-column: 4/5;
}

nav a:nth-of-type(4){
    grid-column: 5/6;
}


/* main and hero */

#hero {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: var(--secondary-color);
    font-family: var(--heading-font);
    display: grid;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: -1;
    color: var(--headline-color-on-white);
}

#hero h1, h2{
    margin:-10px;
}

#hero img{
    width: 75%;
    z-index: 0;
    grid-column: 1/5;
    grid-row: 1/4;
    justify-self: center;
    border-style: solid;
    border-color: var(--primary-color);
    border-width: 2rem;
}

.hero-title{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 5em;
    z-index: 2;
}


.subtitle{
    font-size: 2em;
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 2;
    margin: 17px;
    color: black;
}

main {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    /* display: flex; */
    padding: 0 auto;
    margin: 0 auto;
    font-family: var(--paragraph-font);
}

.motto {
    padding: 10rem;
    grid-column: 1/4;
    font-size: 3em;
    font-family: var(--heading-font);
    color: var(--headline-color-on-color)
}

.intro {
    grid-column: span 5;
    font-size: 1.5em;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 4em;
}

#dish-section{
    grid-column: span 5;
    background-color: var(--secondary-color);
}

.dish-title{
    font-family: var(--heading-font);
    font-size: 3em;
    grid-column: 3/5;
    padding: 3rem;
}

.dish-image{
    width: 33%;
    height: auto;
}

.dish-tabs{
    padding: 2rem;
}

.dish-tabs button{
    padding: 1rem 4rem 1rem 4rem;
    margin: 2rem;
}

#sushi-carousel-track{
    padding: 0 auto;
    margin: 0 auto;
}

.carousel-item{
    background-color: var(--accent2-color);
    width: 75%;
    display: grid;
    grid-template-columns: 4fr 20px 2fr 20px;
    grid-template-rows: 2fr 3fr;
    grid-row: 2/3;
    border-style: dashed;
    border-radius: 20px;
    justify-self: center;
    padding-bottom: 5em;
    text-align: start;
}

.carousel-item h3{
    font-family: var(--heading-font);
    font-size: 4em;
    grid-column: 1/1;
    grid-row: 1/1;
    padding-left: 10rem;
}

.carousel-item p{
    font-size: 1.5em;
    grid-column: 1/1;
    grid-row: 2/3;
    text-align: start;
    padding-left: 5rem;
}

.carousel-item img{
    grid-column: 3/4;
    grid-row: 2/3;
    width: 500px;
    height: auto;
}

.carousel-nav{
    padding: 1rem;
}

.carousel-nav button{
    padding: 1rem 4rem 1rem 4rem;
    margin: 2rem;
}

#restaurant-section{
    grid-column: span 5;
}

#restaurant-section h2{
    font-family: var(--heading-font);
    font-size: 4em;
    padding: 10rem;
}

.restaurant-card{
    width: 50%;
    height: auto;
    background-color: var(--paragraph-background-color);
    display: block;
    border-style: solid;
    border-color: var(--accent2-color);
    border-radius: 50px;
    padding-bottom: 2rem;
    margin: auto;
    margin-bottom: 5rem;
}

.restaurant-title{
    font-family: var(--heading-font);
    font-size: 3em;
    padding: 1rem;
}

.restaurant-type{
    text-align: right;
    padding-right: 10%;
    font-size: 1.5em;
    padding-bottom: 2rem;
}

.restaurant-info{
    text-align: left;
    width: 70%;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    font-size: 20px;
}

.restaurant-signature{
    padding-top: 5rem;
}

footer{
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding: 0 auto;
    margin: 0 auto;
    background-color: var(--accent2-color);
}

.footer-head{
    text-align: center;
    font-size: 2em;
    padding: 4rem;
}

#contacts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}

#contacts a{
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
}

#contacts a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.contact-link{
    grid-column: 1/2;
    font-size: 2em;
}

.contact-link:hover{
    color:var(--nav-hover-link-color);
    background-color: var(--nav-hover-link-color);
}

.socials {
    grid-column:2/3;
}

.socials img{
    width:30%;
    height: auto;
}

.footer-plan-link{
    grid-column: 3/3;
    font-size: 2em;
}


.footer-plan-link:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-link-color);
}


/* carousel stuff */

/* defaults to not showing */
#ramen-carousel {
    display: none;
}

.carousel-item {
    display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.prev-button:hover, .next-button:hover {
  background-color: var(--nav-hover-link-color);
}