@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Noto+Sans+JP:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --primary-color: #B23B3B;
  --secondary-color: #C9A66B;
  --accent1-color: #1B1B1B;
  --accent2-color: #4C7262;

  --heading-font: "kiwi maru", "Playfair Display", "IM Fell French Canon SC", serif;
  --paragraph-font: "Noto Sans JP", "Lato", sans-serif;

  --headline-color-on-white: #B23B3B;
  --headline-color-on-color: #1B1B1B; 
  --paragraph-color-on-white: #4C7262; 
  --paragraph-color-on-color: #1B1B1B; 
  --paragraph-background-color: #c9a66b;
  --nav-link-color: #1B1B1B;
  --nav-background-color: #4C7262;
  --nav-hover-link-color: #4C7262;
  --nav-hover-background-color: #1B1B1B;
}

/* header and nav */

body {
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0 auto;
    margin: 0 auto;
    background-color: var(--nav-background-color);
    display: flex;
    align-items: center;
    z-index: 10000;
    border-style: solid;
}

#logo-link img{
    grid-column: 1/2;
    height: auto;
    width: 60%;
}

#logo-link{
    height: auto;
    /* width: 30%; */
    padding: 0;
    margin: 0.5%;
    grid-column: 1/2;
}

nav a {
    font-size: 2em;
    color: var(--nav-link-color);
    text-align: center;
    background-color: var(--nav-background-color);
    margin: 2rem;
    padding: auto;
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

nav a:nth-child(1){
    grid-column: 2/3;
}

nav a:nth-child(2){
    grid-column: 3/4;
}

nav a:nth-child(3){
    grid-column: 4/5;
}

nav a:nth-child(4){
    grid-column: 5/6;
}


/* main and hero */

#hero {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: var(--secondary-color);
    font-family: var(--heading-font);
    display: grid;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: -1;
    color: var(--headline-color-on-white);
    justify-items: center;
}

#hero h1, h2{
    margin: 0 auto;
    padding: 0 auto;
    height: 40%;
}

#hero h1{
    padding-top: 8%;
}

#hero img{
    width: 75%;
    z-index: 0;
    grid-column: 1/5;
    grid-row: 1/4;
    justify-self: center;
    border-style: solid;
    border-color: var(--primary-color);
    border-width: 2rem;
}

.hero-title{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: clamp(2.5em, 7vw, 5em);
    z-index: 2;
    height: 90%;
}

.subtitle{
    font-size: clamp(1.2em, 3vw, 2em);
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 2;
    margin: 17px;
    color: white;
}

main {
    background-color: var(--primary-color);
    text-align: center;
    padding: 5rem 0 0 0;
    margin: 0 auto;
    font-family: var(--paragraph-font);
}

.motto {
    padding: 0 5vw;
    margin: 5rem 2rem 5rem 2rem;
    font-size: clamp(3em, 5vw, 3em);
    font-family: var(--heading-font);
    color: var(--headline-color-on-color);
    border-style: dashed;
    border-radius: 10px;
}

.intro {
    font-size: 1.5em;
    margin: 0 5vw 5vw 5vw;
}

#dish-section{
    background-color: var(--secondary-color);
}

.dish-title{
    font-family: var(--heading-font);
    font-size: clamp(3em, 5vw, 3em);
    grid-column: 3/5;
    padding: 3rem;
}

.dish-image{
    width: 33%;
    height: auto;
    align-items: center;
}

.dish-tabs{
    padding: 1rem;
    display: flex;
    width: 30%;
    justify-content:space-evenly;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.dish-tabs button{
    padding: auto;
    width: 30%;
    height: auto;
    font-size: clamp(2vw, 2vw, 2vw);
    background-color: var(--accent2-color);
}

.carousel-track{
    padding: 0 auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    display: flex;
    justify-content: center;
}

.carousel-item{
    padding: 0;
    margin: 0;
    background-color: var(--accent2-color);
    width: 75%;
    height:auto;
    max-height: 400px;
    display: grid;
    display: flex;
    grid-template-columns: 4fr 20px 2fr 20px;
    grid-template-rows: 1fr 3fr 0.5fr;

    border-style: dashed;
    border-radius: 20px;
    justify-self: center;
    justify-content: center;
    text-align: start;
}

.carousel-item h3{
    margin: auto;
    font-family: var(--heading-font);
    font-size: clamp(5vw, 5vw, 5vw);
    grid-column: 1/1;
    grid-row: 1/1;
    padding-right: 40%;
}

.carousel-item p{
    margin: auto;
    font-size: clamp(2vw, 2vw, 2vw);
    grid-column: 1/1;
    grid-row: 2/2;
    text-align: start;
    padding-left: 10%;
}

.carousel-item img{
    margin: auto;
    grid-column: 3/4;
    grid-row: 2/2;
    justify-items: stretch;
    width: 90%;
    max-width: 250px;
}

.carousel-nav {
    display: grid;
    display: flex;
    grid-template-columns: 1fr 6fr 1fr;
    margin-top: -50px;
    /* center the button in their column */
    justify-content: center;
}

.prev-button {
    width: 7%;
    grid-column: 1/1;
}

.next-button {
    width: 7%;
    grid-column: 3/3;
}

#restaurant-section{
    grid-column: span 5;
}

#restaurant-section h2{
    font-family: var(--heading-font);
    font-size: 4em;
    padding: 10rem;
}

.restaurant-card{
    width: 50%;
    height: auto;
    background-color: var(--paragraph-background-color);
    display: block;
    border-style: solid;
    border-color: var(--accent2-color);
    border-radius: 50px;
    padding-bottom: 2rem;
    margin: auto;
    margin-bottom: 5rem;
}

.restaurant-title{
    font-family: var(--heading-font);
    font-size: 3em;
    padding: 1rem;
}

.restaurant-type{
    text-align: right;
    padding-right: 10%;
    font-size: 1.5em;
    padding-bottom: 2rem;
}

.restaurant-info{
    text-align: left;
    width: 70%;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    font-size: 20px;
}

.restaurant-signature{
    padding-top: 5rem;
}

footer{
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding: 0 auto;
    margin: 0 auto;
    background-color: var(--accent2-color);
}

.footer-head{
    text-align: center;
    font-size: 2em;
    padding: 4rem;
}

#contacts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}

#contacts a{
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
}

#contacts a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.contact-link{
    grid-column: 1/2;
    font-size: 2em;
}

.contact-link:hover{
    color:var(--nav-hover-link-color);
    background-color: var(--nav-hover-link-color);
}

.socials {
    grid-column:2/3;
}

.socials img{
    width:30%;
    height: auto;
}

.footer-plan-link{
    grid-column: 3/3;
    font-size: 2em;
}


.footer-plan-link:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-link-color);
}


/* carousel stuff */

/* defaults to not showing */

.carousel-item {
    display: none;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.prev-button:hover, .next-button:hover {
  background-color: var(--headline-color-on-white);
}

/* culture page */

#phrases-section {
    background-color: var(--secondary-color);
    padding: 5rem;
}

#phrases-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    text-align: center;
    padding: 2rem;
    /* display: flex; */
    justify-content: center;
    justify-items: center;
}

#phrases-hero img {
    width: 100%;
    height: auto;
    grid-column: 1/1;
    grid-row: 2/2;
}

#phrases-hero h2 {
    font-family: var(--heading-font);
    font-size: clamp(3em, 5vw, 3em);
    grid-column: 1/2;
    grid-row: 1/1;
    padding: 1rem;
    color: var(--headline-color-on-color);
}

#phrases-hero h4 {
    font-family: var(--paragraph-font);
    font-size: clamp(2vw, 2vw, 2vw);
    grid-column: 2/2;
    grid-row: 2/2;
    padding: 1rem;
    color: var(--paragraph-color-on-color);
}

#phrase-content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* grid-template-rows: auto; */
    padding-left: auto;
    padding-right: auto;
    /* margin: auto; */
    width: 100%;
}

.phrase-general {
    font-size: clamp(1vw, 2vw, 2vw);
    padding: 1rem;
    color: var(--paragraph-color-on-color);
    text-align: center;
    grid-column: 1/4;
    margin-bottom: 10%;
    border-style: solid;
    border-radius: 10px;
}

#phrase-content p{
    font-size: clamp(1.5vw, 2vw, 2vw);
    padding: 0 auto;
    margin: 0 auto;
    color: var(--paragraph-color-on-color);
    margin-bottom: 10%;
    grid-column: 1/4;
    width: 100%;
}

.phrase-list-heading {
    font-size: clamp(2vw, 2vw, 2vw);
    padding: 1rem;
    color: var(--paragraph-color-on-color);
    text-align: center;
    border-style: dashed;
    border-radius: 10px;
    grid-column: 1/4;
}

#phrase-content ol {
    font-size: clamp(1.5vw, 2vw, 2vw);
    padding: 0;
    margin: 0;
    color: var(--paragraph-color-on-color);
    text-align: center;
    margin-bottom: 10%;
    grid-column: 2/2;
}

#phrase-content li {
    margin: 0.5rem 0;
    text-align: left;
   
}
#phrase-content li::marker {
    color: var(--primary-color);
    text-align: left;
}

#culture-section {
    padding: 5rem;
    background-color: var(--primary-color);
}

#culture-section h1 {
    font-family: var(--heading-font);
    font-size: clamp(3em, 5vw, 3em);
    text-align: center;
    padding: 2vw;
    border-style: dotted;
    border-radius: 10px;
    border-color: var(--paragraph-background-color);
    border-width: 4vw;
}

#culture-section img {
    width: 90%;
    height: auto;
    padding: 2vw;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
}

#culture-section ol {
    font-size: clamp(1.5vw, 2vw, 2vw);
    padding: 0;
    margin: 0 auto;
    color: var(--paragraph-color-on-color);
    text-align: center;
    padding-left: 20%;
}

#culture-section li {
    margin: 0.5rem 0;
    text-align: left;
}

#culture-section li::marker {
    color: var(--paragraph-background-color);
    text-align: left;
}